@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #F6F4F2;
  max-width: 100vw;
  overflow-x: hidden;
  max-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}



